<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudcare.mapper.SysUserMapper">

    <!-- 查询指定日期之前创建的用户数量 -->
    <select id="selectCountByCreateTimeBefore" resultType="int">
        SELECT COUNT(1) FROM sys_user
        WHERE DATE(create_time) &lt;= #{date}
        AND del_flag = '0'
    </select>

</mapper>