# 项目排除路径
/cloudcare-backend/target/
/cloudcare-frontend/index.html
node_modules
/cloudcare-backend/src/main/resources/application-dev.yml
/cloudcare-frontend/dist/
/cloudcare-backend/src/main/resources/application.yml
